body {
  width: 100%;
  height: 100vh;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

/* P5 CANVAS */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; 
}

#videoContainer {
    display: none; /* Hide source video */
}

#headline {
   position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column; /* Stack h1, h2, p vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 20;
}

h1 {
    font-size: 10em;
    color: azure;
}

#textbox {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 20; /* Keep textbox on top of canvas */
}

/*--------------------CLAUDE*/

/* #videoContainer {
    display: none;
    position: fixed; 
    top: 50%;       
    left: 50%;      
    transform: translate(-50%, -50%);  
} 





/* #main-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
} */





/* input {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 16px;
    padding: 8px;
    background-color: #f9f9f9;
} */





